@import url("//hello.myfonts.net/count/288a2e");

  
@font-face {font-family: 'dear_JoeHannes';src: url('fonts/288A2E_0_0.eot');src: url('fonts/288A2E_0_0.eot?#iefix') format('embedded-opentype'),url('webfonts/288A2E_0_0.woff') format('woff'),url('fonts/288A2E_0_0.ttf') format('truetype');}
 
 


@font-face {
    font-family: 'bodegasans_mediumregular';
    src: url('fonts/bodegasansmedium-webfont.eot');
    src: url('fonts/bodegasansmedium-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/bodegasansmedium-webfont.woff') format('woff'),
         url('fonts/bodegasansmedium-webfont.ttf') format('truetype'),
         url('fonts/bodegasansmedium-webfont.svg#bodegasans_mediumregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
 
@font-face {
    font-family: 'AvenirBook';
    src: url('fonts/avenir.eot');
    src: url('fonts/avenir.eot') format('embedded-opentype'),
         url('fonts/avenir.woff') format('woff'),
         url('fonts/avenir.ttf') format('truetype'),
         url('fonts/avenir.svg#AvenirBook') format('svg');
}

@font-face {
    font-family: 'Avenir95BlackBlack';
    src: url('fonts/avenir95black.eot');
    src: url('fonts/avenir95black.eot') format('embedded-opentype'),
         url('fonts/avenir95black.woff') format('woff'),
         url('fonts/avenir95black.ttf') format('truetype'),
         url('fonts/avenir95black.svg#Avenir95BlackBlack') format('svg');
}

@font-face {
    font-family: 'AvenirRegular';
    src: url('fonts/avenir_35_light.eot');
    src: url('fonts/avenir_35_light.eot') format('embedded-opentype'),
         url('fonts/avenir_35_light.woff') format('woff'),
         url('fonts/avenir_35_light.ttf') format('truetype'),
         url('fonts/avenir_35_light.svg#AvenirRegular') format('svg');
}


@font-face {
    font-family: 'AvenirLT35LightRegular';
    src: url('fonts/av-light.eot');
    src: url('fonts/av-light.eot') format('embedded-opentype'),
         url('fonts/av-light.woff') format('woff'),
         url('fonts/av-light.ttf') format('truetype'),
         url('fonts/av-light.svg#AvenirLT35LightRegular') format('svg');
}


@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot');
	src:url('fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('fonts/icomoon.woff') format('woff'),
		url('fonts/icomoon.ttf') format('truetype'),
		url('fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}
