/* ================================================  MOBILES BELOW 399 ======================================= */


@media only screen 
and (max-width : 399px) 
{	

	.curvature { 
		padding: 60px 0 70px 0;
	}
	.massive {
		font-size: 120px;
		letter-spacing: -5px;
		line-height: 45px;
	}
	
	.massive:before {
		display: none;
	}
	
	
	.massive:after {
		display: none;
	}

	section.bigwelcome {
		height: 580px;
	}
	
	#big-video-wrap {
		max-height: 620px;
	}
	
	#big-video-vid, #big-video-image {
		max-height: 520px;
	}
	
	 .buy h1 {
	 	font-size: 60px;
	 }
}

/* ================================================  MOBILES BELOW 480 to 400 ======================================= */


@media only screen 
and (min-width : 400px) 
and (max-width : 479px) 
{	
	
	.curvature { 
		padding: 60px 0 70px 0;
	}
	.massive {
		font-size: 120px;
		letter-spacing: -5px;
		line-height: 45px;
	}
	
	.massive:before {
		display: none;
	}
	
	
	.massive:after {
		display: none;
	}

	section.bigwelcome {
		height: 580px;
	}
	
	#big-video-wrap {
		max-height: 620px;
	}
	
	#big-video-vid, #big-video-image {
		max-height: 520px;
	}
	
	 .buy h1 {
	 	font-size: 60px;
	 }

}



/* ================================================  MOBILES BELOW 480 to 640 ======================================= */


@media only screen 
and (min-width : 480px) 
and (max-width : 639px) 
{	
	
	.curvature { 
		padding: 60px 0 70px 0;
	}
	.massive {
		font-size: 120px;
		letter-spacing: -5px;
		line-height: 45px;
	}
	
	.massive:before {
		display: none;
	}
	
	
	.massive:after {
		display: none;
	}

	section.bigwelcome {
		height: 580px;
	}
	
	#big-video-wrap {
		max-height: 620px;
	}
	
	#big-video-vid, #big-video-image {
		max-height: 520px;
	}
	
	 .buy h1 {
	 	font-size: 60px;
	 }
				
}



/* ================================================  LARGE MOBILE DEVICES AND SMALL TABLETS BELOW 799  ======================================= */


@media only screen 
and (min-width : 640px) 
and (max-width : 799px) 
{	
	

	.curvature { 
		padding: 60px 0 70px 0;
	}
	.massive {
		font-size: 120px;
		letter-spacing: -5px;
		line-height: 45px;
	}
	
	.massive:before {
		display: none;
	}
	
	
	.massive:after {
		display: none;
	}

	section.bigwelcome {
		height: 580px;
	}
	
	#big-video-wrap {
		max-height: 620px;
	}
	
	#big-video-vid, #big-video-image {
		max-height: 520px;
	}
	
	 .buy h1 {
	 	font-size: 60px;
	 }

}
/* ================================================  SLIGHTLY SMALLER RESOLUTIONS, BUT NOT QUITE IPHONE ======================================= */


@media only screen 
and (min-width : 800px) 
and (max-width : 854px) 
{	
	
	
		.curvature { 
		padding: 60px 0 70px 0;
	}
	.massive {
		font-size: 120px;
		letter-spacing: -5px;
		line-height: 45px;
	}
	
	.massive:before {
		display: none;
	}
	
	
	.massive:after {
		display: none;
	}

	section.bigwelcome {
		height: 580px;
	}
	
	#big-video-wrap {
		max-height: 620px;
	}
	
	#big-video-vid, #big-video-image {
		max-height: 520px;
	}
	
	 .buy h1 {
	 	font-size: 60px;
	 }

}





/* ================================================  LARGE PHONE SCREENS SMALLER RESOLUTIONS  ======================================= */


@media only screen 
and (min-width : 855px) 
and (max-width : 960px) 
{	

	




}



/* ================================================  IPADS AT LANDSCAPE WIDTH 1024  ======================================= */


@media only screen 
and (min-width : 961px) 
and (max-width : 1024px) 
{	





		
}


/* ================================================  FIRST STAGE LARGER THAN 1024PX UP TO LARGER BROWSERS  ======================================= */



@media only screen 
and (min-width : 1025px) 
and (max-width : 1223px) 
{		
		
	
	
	
	
	
	
}



/* #Narrow Screen, Below 1400px (Portrait)
================================================== */

    /* Note: Design for a width of 768px */



@media only screen 
and (min-width : 1224px) 
and (max-width : 1300px) 
{



	.buy p {
		
	}	




}
	

@media only screen 
and (min-width : 1224px) 
and (max-width : 1399px) 
{

	
	
	
	
	
	
                
}
	
	
	


@media only screen and (min-width: 1400px) and (max-width: 1450px) {
		
		






}


@media only screen and (min-width: 1400px) {
 
 
 
 
 
                
    } 




