html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video, button, textarea, a {
  	background: transparent;
	background: none;
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	text-decoration: none;
	font-weight: normal;
	font-family:"Arial", "Helvetica"
}                  
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section { 
    display:block;
}
blockquote, q { quotes:none; }
blockquote:before, blockquote:after,
q:before, q:after { content:''; content:none; }
ins { background-color:#ff9; color:#000; text-decoration:none; }
mark { background-color:#ff9; color:#000; font-style:italic; font-weight:bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom:1px dotted; cursor:help; }
hr { display:block; height:1px; border:0; border-top:1px solid #ccc; padding:0 0 1.5em 0; }
input, select { vertical-align:middle; }

/* End of Reset CSS */





body {
	background: #fff;

}


.no-boxshadow input:invalid, 
.no-boxshadow textarea:invalid {  }

/* By default the selection color is pink */
::-moz-selection{ background: #468ab1; color:#fff; text-shadow: none; }
::selection { background:#468ab1; color:#fff; text-shadow: none; }
.ie7 img { -ms-interpolation-mode: bicubic; }



ul, ol, p {
	padding: 0 0 1.5em 0;
}

ul, ol {
	list-style: none;
}

ul li {
	list-style: none;
}

p {
	font-family: Arial;
	color: #2e2d2d;
	font-size: 13px;
	line-height: 22px;	
}

a {
	color: #8d3d00;
}

article blockquote {
	border-left: 1px solid #ebe0b5;
	font-family: Arial;
	color: #ebe0b5;
	font-size: 13px;
	line-height: 22px;
	padding: 15px 0 15px 30px;
	margin: 5px 0 10px 30px;
}
article ul {
	margin-left: 20px;
}
article ul li {
	padding: 5px;
	list-style: square;
	font-family: Arial;
	color: #ebe0b5;
	font-size: 13px;
	line-height: 22px;
}

article ol {
	margin-left: 20px;
}
article ol li {
	padding: 5px;
	list-style-type: decimal;
	font-family: Arial;
	color: #ebe0b5;
	font-size: 13px;
	line-height: 22px;
}

blockquote {
	position: relative;
	color: #585858;
	font-style: italic;
	text-align: center;
	font-family: Perpetua;
	font-size: 40px;
	line-height: 40px;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	letter-spacing: -2px;
	padding: 40px 0;
	margin-bottom: 15px;
}


blockquote:after {
	position: absolute;
	width: 180px;
	left: 50%;
	z-index: 999;
	height: 1px;
	content: '';
	margin-left: -90px;
	top: 10px;
	background: #585858;
}


blockquote:before {
	position: absolute;
	width: 180px;
	left: 50%;
	z-index: 999;
	height: 1px;
	content: '';
	margin-left: -90px;
	bottom: 10px;
	background: #585858;
}





/* remember to define focus styles! */
:focus {outline: 0;}

img {border:0;}
a img {border:0}

/* Float Definitions -----------------------------------------------------------*/

.clear {clear:both;} 

.right {float: right;} 

.left {float: left;}

.alignright {float: right;margin: 0 0 2px 7px;}
.alignleft {float: left;margin: 0 7px 2px 0;}

img.left, img.alignleft {float: left;margin: 0 15px 7px 0;}

img.right, img.alignright {float: right;margin: 0 0 7px 15px;}

.post img.aligncenter, .attachment img.aligncenter { display:block; margin: 0 auto; text-align: center; }

.nopad {
	padding: 0px !important;
}
.nomargin {
	margin: 0px !important;
}
.noborder {
	border: none !important;
}



html, body {
	height: 100%;
}




	/*Buttons------------------------------------------*/

	.button {
		width: auto;
		background: transparent;
		border: 4px solid #fff;
		color: white;
		cursor: pointer; 
		display: inline-block;
		font-size: 16px;
		font-family: 'Avenir95BlackBlack';
		text-transform: uppercase;
		margin: 0 0 3px 0;
		outline: none;
		padding: 16px 30px 16px;
		position: relative;
		text-align: center;
		text-decoration: none;
		-webkit-transition: all 1s ease;
		-moz-transition: all 1s ease;
		-o-transition: all 1s ease;
		transition: all 1s ease;
		color: #fff;
		border-radius: 4px;
		
	}
	.bigwelcome .button {
		margin-top: 100px;
	}
	.button:hover {
		background-color: #c21414 !important;
		color: #fff;
		
	}
	
	.button:active {
		background-color: #444;
	}
	
	.button:focus {
		background-color: #ff0000;
	}



	.screens .button {
		margin-top: 30px;
	}


/*----------------------------------------------------------------------------------------------------------------
										       Predefining Media Query
----------------------------------------------------------------------------------------------------------------*/


.column_one_half, .column_one_third, .column_one_fourth, .column_two_thirds, .column_three_fourths {
    float: left;
    position: relative;
    text-align: left;
}
.column_one_half:before, .column_one_third:before, .column_one_fourth:before, .column_two_thirds:before, .column_three_fourths:before {
	content: '';
	width: 25px;
	position: absolute;
	right: -12.5px;
	top: 0;
	height: 100%;
	background: #fff;
} 



.column_one_half p:last-child, .column_one_third p:last-child, .column_one_fourth p:last-child, .column_two_thirds p:last-child, .column_three_fourths p:last-child {
    margin-bottom: 0;
}

.column_one_half {
    width: 50%;
}

.column_one_third {
    width: 32.6666%;
}

.column_one_fourth {
    width: 25%;
}

.column_two_thirds {
    width: 67.3334%;
}

.column_three_fourths {
    width: 75%;
}

.column_full {
	width: 100%;
}

.final {
    clear: right;
    margin: 0;
}
.final:before {
	display: none;
}
.inner {
	padding: 15px 27.5px 15px 15px;
}

.final .inner {
	padding: 15px 15px 15px 27.5px;
}

.inner .inner {
	padding: 50px;
}
.inner .itsyinner {
	padding: 25px;
}
.inner .col .inner {
	padding: 15px;
}






.buttonbox {
	position: fixed;
	top: 0;
	z-index: 9999999;
	right: 3%;
}

.buttonbox a {
	margin: 0px;
	padding: 10px 15px 7px 15px;
	color: #fff;
	display: inline-block;
	background: #444;
	font-family: 'Avenir95BlackBlack';
	text-transform: uppercase;
	font-size: 12px;
	z-index: 9;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.buttonbox a:hover {
	background: #c21414;
}
section {
	background: #fff;
	position: relative;
	z-index: 1;
}
section.bigwelcome {
	background: transparent;
	text-align: center;
	height: 100%;
}
.bigwelcome:before {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 999;
	height: 100%;
	content: '';
	background: url(../images/texture.png) repeat;;
	
}




@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}



.hellofolks {
    -webkit-animation-fill-mode: both;
	-moz-animation-fill-mode:both;
	-ms-animation-fill-mode:both;
	-o-animation-fill-mode:both;
	animation-fill-mode:both;
	-webkit-animation-duration:1s;
	-moz-animation-duration:1s;
	-ms-animation-duration:1s;
	-o-animation-duration:1s;
	animation-duration:1s;
	-webkit-animation-name:fadeInDown;
	-moz-animation-name:fadeInDown;
	-o-animation-name:fadeInDown;
	animation-name:fadeInDown;
	-webkit-animation-delay:.5s;
	-moz-animation-delay:.5s;
	-ms-animation-delay:.5s;
	-o-animation-delay:.5s;
	z-index: 9999;
	position: relative;
	top: 28%;
}


@-webkit-keyframes fadeIn{
0%{opacity:0} 100%{opacity:1}}@-moz-keyframes fadeIn{0%{opacity:0} 100%{opacity:1}}@-o-keyframes fadeIn{0%{opacity:0} 100%{opacity:1}}@keyframes fadeIn{0%{opacity:0} 100%{opacity:1}}.fadeIn{-webkit-animation-name:fadeIn;-moz-animation-name:fadeIn;-o-animation-name:fadeIn;animation-name:fadeIn}



@-webkit-keyframes fadeInDown{0%{opacity:0;-webkit-transform:translateY(-20px)} 100%{opacity:1;-webkit-transform:translateY(0)}}@-moz-keyframes fadeInDown{0%{opacity:0;-moz-transform:translateY(-20px)} 100%{opacity:1;-moz-transform:translateY(0)}}@-o-keyframes fadeInDown{0%{opacity:0;-o-transform:translateY(-20px)} 100%{opacity:1;-o-transform:translateY(0)}}@keyframes fadeInDown{0%{opacity:0;transform:translateY(-20px)} 100%{opacity:1;transform:translateY(0)}}.fadeInDown{-webkit-animation-name:fadeInDown;-moz-animation-name:fadeInDown;-o-animation-name:fadeInDown;animation-name:fadeInDown}






.henry { 
	padding-top:120px;
	position: relative;
	z-index: 999;
}
.bigwelcome p {
	margin-bottom: 70px;
	padding: 0;
	position: relative;
	z-index: 999;
	font-size: 18px;
	margin-top: -60px;
	color: #353535;
	font-family: 'AvenirRegular';
}
.massive {
	text-align: center;
	z-index: 9999;
	position: relative;
	font-family: Perpetua;
	letter-spacing: -5px;
	font-size: 300px;
	line-height: 280px;
	color: #fff;
	display: inline;
	
}

.curvature {
	padding: 150px 0 70px 0;
	font-family: 'AvenirRegular';
	color: #fff;
	letter-spacing: 8px;
	font-size: 16px;
	text-transform: uppercase;	
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

.scroll {
	padding: 10px 0 0px 0;
	font-family: 'AvenirRegular';
	color: #fff;
	font-size: 20px;
	font-weight: bold;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}
.scroll:hover {
	color: #c21414;
}
/*.massive:before {
	padding: 0;
	font-family: 'AvenirRegular';
	color: #fff;
	letter-spacing: 0px;
	position: absolute;
	left: -100px;
	top: 30px;
	font-size: 16px;
	letter-spacing: 4px;
	text-transform: uppercase;	
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
	content: '2014';
}

.massive:after {
	padding: 0;
	font-family: 'AvenirRegular';
	color: #fff;
	letter-spacing: 0px;
	position: absolute;
	right: -100px;
	top: 30px;
	font-size: 16px;
	letter-spacing: 4px;
	text-transform: uppercase;	
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
	content: '2014';
}*/


.cursive {
	text-align: center;
	z-index: 9999;
	position: relative;
	font-family: 'dear_JoeHannes';
	font-size: 60px;
	color: #444;
	margin-bottom: 110px;
	line-height: 55px;
}

.arrowdown {
	margin: auto;
	width: 90px;
	top: 0;
	display: block;
	height: 60px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.arrowdown:hover {
	top: 10px;
}
.announcement {
	padding: 50px 0;
	z-index: 99;
	position: relative;
}
/* .announcement:before {
	position: absolute;
	width: 100%;
	height: 100%;
	background: url(../images/macbookbg.jpg) center top;
	content: '';
	left: 0;
	top: 0;
} */

.macbook {
	max-width: 90%;
	position: relative;
	bottom: -81px;
}




#big-video-wrap {
	background: #fff;
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}




.dropcap {
	color: #585858;
text-align: center;
font-family: Perpetua;
font-size: 60px;
-webkit-font-smoothing: antialiased;
-moz-font-smoothing: antialiased;
text-rendering: optimizeLegibility;
letter-spacing: -3px;
float: left;
margin: 17px 10px 7px 0;
}

.graybg {
	background: url(../images/footerbg.png);
	min-height: 150px;
}
.darkgray {
	background: #444;
}


.sliderbook {
	position: relative;
}
.sliderbook {
	width: 822px;
	height: 516px;
	margin: auto;
	position: relative;
	top: -28px;
}

.announcement:before {
	position: absolute;
	content: '';
	top: 135px;
	left: 0;
	width: 100%;
	background: url(../images/macbookbg.jpg) center top no-repeat;
	height: 100%;
}


.hello {
	min-height: inherit;
	position: relative;
}
.hello:before {
	position: absolute;
	top: -16px;
	background: url(../images/toparrow.png) center top repeat-x;
	height: 16px;
	width: 100%;
	left: 0;
	content: '';
	z-index: 999999999;
}
.hello p {
	text-align: center;
	color: #5b5b5b;
	font-size: 18px;
	max-width: 500px;
	font-family: 'AvenirRegular';
	margin: auto;
	
}
.counter {
	position: absolute;
	right: 43px;
	font-family: 'Avenir95BlackBlack';
	font-size: 77px;
	color: #fff;
	top: 61px;
	letter-spacing: -5px;
	opacity: 0.3;
}
.counter span {
	font-size: 40px;
	position: relative;
	top: -30px;
}

.introducing {
	text-align: left;
	padding: 80px 0 40px 0;
	color: #ddd;
	font-size: 18px;
	font-family: 'AvenirRegular';	
}

.first {
	width: 48% !important;
	text-align: justify;
	margin: 0 !important;
}


.last {
	width: 48% !important;
	float: right !important;
	text-align: justify;
	margin: 0 !important;
}



.buy {

	padding: 60px 0;
}



.buy h1 {
	color: #585858;
	text-align: center;
	font-family: Perpetua;
	font-size: 70px;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	letter-spacing: -3px;
	padding: 20px 0 50px 0;
	position: relative;
	margin-bottom: 20px;
}


.buy h1:before {
	position: absolute;
	width: 180px;
	left: 50%;
	z-index: 999;
	height: 1px;
	content: '';
	margin-left: -90px;
	bottom: 10px;
	background: #585858;
	
}
.buy p {
	float: none;
	text-align: justify;
	font-size: 14px;
	line-height: 24px;
}

.buy .button {
	text-align: center;
	border: 4px solid #444;
	color: #444;
}

.columnized {
	padding-top: 20px;
}
.contentcontainer {
	margin: auto;
	width: 80%;
	max-width: 720px;
	position: relative;
}

.buy .contentcontainer {
	max-width: 720px;
}
.narrower {
	max-width: 850px;
}


.buy .button:hover {
	color: #fff;
}
.goodnight {
	font-size: 18px;
	font-family: 'Avenir95BlackBlack';
	text-transform: uppercase;
	text-align: center;
	color: #444;
	margin: 30px 0;
}



.footling {
	position: relative;
}

.footling p {
	padding: 105px 0 0px 0;
	font-family: 'AvenirRegular';
	color: #fff;
	letter-spacing: 4px;
	font-size: 12px;
	text-transform: uppercase;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}


.footling img {
	position: absolute;
	left: 50%;
	margin-left: -37px;
	top: 15px;
	width: 80px;
	
}