
/* ========  BLOCKS  ======== */

.container {
	background-color: $white;
	position: relative;
	width: 100%;
    height: 100%;
    padding: 40px 40px 0 40px;
	overflow: hidden;
	@include box-sizing(border-box);
}

.container__inner {
	position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.slide__container {
    width: 100%;
	height: 100%;
	padding: 0;
}

/* ========  ELEMENTS  ======== */

.logo__container {
	// background-color: $black;
    position: absolute;
    bottom: 0;
    left: 5%;
    width: 120px;
	height: 55px;
	text-align: center;
    z-index: 10;
	.logo__text {
		position: absolute;
		top: 50%;
		left: 0;
		font-family: 'Brandon-Bold';
		font-style: italic;
		font-size: 30px;
		color: rgba(255,255,255,0.7);
		cursor: pointer;
		@include transform(translate(0, -50%));
		&::before {
			content: '';
			background-color: rgba(255,255,255,0.7);
			position: absolute;
			bottom: 3px;
			left: 0;
			width: 100%;
			height: 0.1rem;
		}
	}
	.logo__text:hover {
		color: rgba(255,255,255,1);
	}
}


.slide__item {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	overflow: hidden;
	opacity: 0;
	z-index: 0;
	@include transition(all 1s ease-in);
	.slide__content {
		position: absolute;
		top: 10%;
		left: 5%;
		width: 40%;
		@include transition(all 0.8s ease-out);
		&.front-content {
			top: 15%;
			width: 43%;
			.slide__title {
				font-size: 55px;
				line-height: 60px;
			}
			.slide__text {
				font-size: 22px;
				line-height: 35px;
			}
		}
		&.custom-content {
			top: 15%;
			width: 50%;
			.slide__title {
				font-size: 55px;
				line-height: 60px;
			}
			.slide__text {
				font-size: 22px;
				line-height: 35px;
			}
		}
		&.custom-content-v2 {
			top: 15%;
			width: 45%;
			.slide__title {
			}
			.slide__text {
				font-size: 20px;
				line-height: 35px;
			}
		}
		&.custom-content-v3 {
			.slide__title {
				padding: 0 10% 0 0;
			}
			.slide__text {
				font-size: 20px;
				line-height: 27px;
				padding: 0 12% 0 0;
			}
		}
		&.short-content {
			top: 15%;
			width: 45%;
			.slide__title {
				font-size: 35px;
				line-height: 40px;
			}
			.slide__text {
				font-size: 20px;
				line-height: 30px;
			}
		}
		&.content-5 {
			width: 60%;
		}
	}
	.slide__title {
		font-family: 'Brandon-Medium';
		font-size: 35px;
		color: $black;
		letter-spacing: -0.004em;
		line-height: 40px;
		margin: 0;
		&--black {
			color: #000;
			a {
				color: #000;
			}
		}
		&--white {
			color: $white !important;
			a {
				color: $white !important;
			}
		}
	}
	.slide__text {
		font-family: 'Brandon-Medium';
		font-size: 18px;
		color: $black;
		letter-spacing: 0.05em;
		line-height: 25px;
		padding: 0;
		margin: 20px 0 0;
		&--black {
			color: #000;
			a {
				color: #000;
				// &:hover {
				// 	color: #fff;
				// }
				&::before {
					background-color: #000;
				}
			}
		}
		&--white {
			color: $white;
			a {
				color: $white;
				// &:hover {
				// 	color: #000;
				// }
				&::before {
					background-color: $white;
				}
			}
		}
		span {
			font-family: 'Brandon-Medium';
			font-size: 16px;
			color: $black;
			letter-spacing: 0.05em;
			line-height: 25px;
		}
		a {
			display: inline-block;
			position: relative;
			font-family: 'Brandon-Medium';
			font-size: inherit;
			letter-spacing: 0.05em;
			line-height: normal;
			padding: 0 0 1.5px;
			&::before {
				content: '';
				position: absolute;
				bottom: 0;
				left: 50%;
				width: 100%;
				height: 2px;
				z-index: -1;
				@include transform(translateX(-50%));
				@include transition(all 0.5s ease-out);
			}
			&:hover {
				opacity: 0.6;
				@include transition(all 0.5s ease-out);
				&::before {
					// height: 100%;
					@include transition(all 0.5s ease-out);
				}
			}
		}
	}
	.slide__list-wrapper {
		@include flexbox();
		@include flex-flow(row nowrap);
		width: 100%;
		margin: 30px 0 20px;
		@include box-sizing(border-box);
		.slide__column {
			@include flex(0 0 auto);
			width: 25%;
			margin: 0 20px 0 0;
			@include box-sizing(border-box);
			.slide__column-title {
				font-family: 'Brandon-Medium';
				font-size: 12px;
				letter-spacing: 0.04em;
				color: $black;
				text-transform: uppercase;
				padding: 0;	
				margin: 0 0 15px;
			}
			.slide__column-list {
				padding: 0;
				.slide__column-item {
					font-family: 'Brandon-Regular';
					font-size: 15px;
					color: $black;
					letter-spacing: 0.05em;
					line-height: 26px;
					text-transform: capitalize;
					padding: 0;
					margin: 0;
					a {
						font-family: 'Brandon-Regular';
						font-size: 15px;
						color: $black;
						letter-spacing: 0.05em;
						line-height: 25px;
						text-transform: capitalize;
						cursor: pointer;
						border-bottom: 2px solid rgba(0,0,0,0.2);
					}
					a:hover {
						border-bottom: 2px solid #000000;
					}
					&--non-active {
						margin: 0 0 -5px 0;
						span {
							font-family: 'Brandon-Regular';
							font-size: 15px;
							color: #231f20;
							letter-spacing: 0.05em;
							line-height: 25px;
							text-transform: capitalize;
						}
					}
					
				}
			}
		}
	}
}

.slide__image--6 {
	position: absolute;
	top: 10%;
    right: 7%;
    width: 90%;
    height: auto;
}

.slide__image--7 {
	position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    width: 50%;
    height: auto;
    margin: 0 auto;
	@include transform(translateY(-50%));
}

.slide__nav {
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	width: 320px;
	overflow: hidden;
	z-index: 6;
	@include box-sizing(border-box);
	@include transition(all 0.5s ease-out);
}

.slide__nav-inner {
	background-color: rgba(0,0,0,0.09);
	position: absolute;
	right: -280px;
	height: 100%;
	width: 320px;
	overflow: hidden;
	@include transition(all 0.5s ease-out);
	&::before {
		content: '';
		background-color: $black;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 40px;
	}
}

.slide__nav-wrapper {
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	overflow: hidden;
	cursor: pointer;
	@include transform(translateY(-50%));
}

.slide__nav-list {
	position: relative;
	height: 100%;
	width: 100%;
	overflow: hidden;
	padding: 0;
}

.slide__nav-item {
	height: 40px;
	width: 100%;
	@include transition(all 0.5s ease-out);
}

.slide__nav-button {
	position: relative;
	height: 100%;
	width: 100%;	
    overflow: hidden;
    display: block;
    font-size: 0;
    line-height: 0;
    white-space: nowrap;
}

.slide__nav-highlight, 
.highlight__stick {
	display: block;
	background-color: $black;
	position: absolute;
	top: 0;
	left: 0; 
	width: 100%;
	height: 100%;
	@include transform(translate3d(40px,0,0));
	@include transition(all 0.5s ease-out);
}

.slide__nav-text {
	position: relative;
	float: left;
	height: 100%;
	font-family: 'Avenir-Regular';
	font-size: 14px;
	color: $white;
	line-height: 42px;	
	text-transform: uppercase;
	text-align: center;
	overflow: hidden;
}

.slide__nav-iconwrap {
	position: relative;
	float: left;
	height: 100%;
	width: 40px;
	text-align: center;
	padding: 7px 0 0;
	.slide__nav-icon {
		height: auto;
		width: 30px;
	}
}

.slide__nav-social {
	position: absolute;
    bottom: 60px;
    left: 60px;
}

.slide__nav-social-ico {
	display: inline-block;
    vertical-align: middle;
	margin: 0 15px 0 0;
	opacity: 0.5;
	-moz-transition: 0.5s all ease-out;
	-webkit-transition: 0.5s all ease-out;
	transition: 0.5s all ease-out;
	&:hover {
		opacity: 1;
		-moz-transition: 0.5s all ease-out;
		-webkit-transition: 0.5s all ease-out;
		transition: 0.5s all ease-out;
	}
	i {
		font-size: 25px;
		color: #fff;
	}
}

/* ========  MODIFIER  ======== */

.slide__item--slide1{
	background: url("../images/gifs/frame-1-new.gif");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: right;	
}

.slide__item--slide2{
	background: url("../images/gifs/frame-2.gif");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: right;		
}

.slide__item--slide3{
	background: url("../images/gifs/frame-3.gif");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: right;		
}

.slide__item--slide4{
	background: url("../images/gifs/frame-4.gif");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: right;		
}

.slide__item--slide5{
	background: url("../images/gifs/frame-5.gif");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: right;		
}

.slide__item--slide6{
	background: url("../images/gifs/frame-6.gif");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: right;	
}

.slide__item--slide7{
	background: url("../images/gifs/frame-7.gif");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: right;		
}

.slide__nav-text--left{
	width: 40px;
}

.slide__nav-text--right{
	opacity: 0.5;
	margin: 0 0 0 20px;
}

.slide__item--active{
	opacity: 1 !important;
	z-index: 5 !important;
}

.slide__nav--active{
	right: 0 !important;
}

.highlight--active{
	-moz-transform: translate3d(0,0,0) !important;
	-webkit-transform: translate3d(0,0,0) !important;
    transform: translate3d(0,0,0) !important;
}

.slide__nav-text--active{
	opacity: 1 !important;
}

.slide__content--down{
	top: 25% !important;
	opacity: 0 !important;
}

.slide__logo {
    position: absolute;
    bottom: 1%;
    left: 5%;
    z-index: 10;
	&-text {
		display: block;
		font-family: 'Brandon-Bold';
		// font-style: italic;
		font-size: 30px;
		cursor: pointer;
		@include transition(all 0.5s ease-out);
		&::before {
			content: '';
			position: absolute;
			bottom: 3px;
			left: -5%;
			width: 110%;
			height: 0;
			z-index: -1;
			@include transition(all 0.5s ease-out);
		}
		&:hover {
			&::before {
				height: 100%;
				@include transition(all 0.5s ease-out);
			}
		}

		&--white {
			color: #fff;
			&:hover {
				color: #000;
			}
			&::before {
				background-color: #fff;
			}
		}

		&--black {
			color: #000;
			&:hover {
				color: #fff;
			}
			&::before {
				background-color: #000;
			}
		}
	}
}
