$helvetica-bold: 'HelveticaLTStd-Bold';
$helvetica-regular: 'HelveticaNeueRegular';
$helvetica-medium: 'HelveticaNeueMedium';
$inconsolata: 'Inconsolata-Regular';
$avenir-book: 'AvenirLTStd-Book';
$avenir-light: 'AvenirLTStd-Light';
$avenir-roman: 'AvenirLTStd-Roman';
$brandon-black-italic: 'BrandonGrotesque-BlackItalic';
$brandon-black: 'BrandonGrotesque-Black';
$brandon-bold: 'BrandonGrotesque-Bold';
$brandon-medium: 'BrandonGrotesque-Medium';
$brandon-regular: 'BrandonGrotesque-Regular';
$brandon-thin: 'BrandonGrotesque-Thin';
$black: #000;
$white: #fff;
$gray: #908f8f;