.htaccess
wp-config.php
wp-content/uploads/
wp-content/blogs.dir/
wp-content/upgrade/
wp-content/backup-db/
wp-content/advanced-cache.php
wp-content/wp-cache-config.php
sitemap.xml
*.log
wp-content/cache/
wp-content/backups/
sitemap.xml.gz

# ignore debug.log
wp-content/debug.log
# ignore local-config.php
local-config.php

# ignore wordpress themes
wp-content/wp-content/themes/classic/
wp-content/wp-content/themes/twentyfourteen/
wp-content/wp-content/themes/twentythirteen/
wp-content/wp-content/themes/twentytwelve/

# ignore other themes
wp-content/wp-content/themes/default/

# Custom individual ignores
wp-content/plugins/wp-google-maps/1markers.xml
tmp/
blogs/
.DS_Store
test/
*timthumb.txt
shop/wp-content/uploads/sucuri/sucuri-lastlogins.php

shop/.htaccess
shop/wp-config.php
shop/wp-content/uploads/
shop/wp-content/blogs.dir/
shop/wp-content/upgrade/
shop/wp-content/backup-db/
shop/wp-content/advanced-cache.php
shop/wp-content/wp-cache-config.php
shop/sitemap.xml
shop/*.log
shop/wp-content/cache/
shop/wp-content/backups/
shop/sitemap.xml.gz

# ignore debug.log
shop/wp-content/debug.log
# ignore local-config.php
shop/local-config.php

# ignore wordpress themes
shop/wp-content/wp-content/themes/classic/
shop/wp-content/wp-content/themes/twentyfourteen/
shop/wp-content/wp-content/themes/twentythirteen/
shop/wp-content/wp-content/themes/twentytwelve/
shop/wp-content/uploads/sucuri/sucuri-lastlogins.php
