/* @font-face */

@font-face {
	font-family: 'funkydori';
	font-weight: normal;
	src: url('font/funkydori-webfont.eot');
	src: url('font/funkydori-webfont.eot?#iefix') format('embedded-opentype'),
		 url('font/funkydori-webfont.woff') format('woff'),
		 url('font/funkydori-webfont.ttf') format('truetype'),
		 url('font/funkydori-webfont.svg#funkydori') format('svg');
}

@font-face {
	font-family: 'funkydori';
	font-weight: bold;
	src: url('font/funkydori-bold-webfont.eot');
	src: url('font/funkydori-bold-webfont.eot?#iefix') format('embedded-opentype'),
		 url('font/funkydori-bold-webfont.woff') format('woff'),
		 url('font/funkydori-bold-webfont.ttf') format('truetype'),
		 url('font/funkydori-bold-webfont.svg#funkydori') format('svg');
}

/* Main */

html, body {
	margin: 0;
}

p {
	line-height: 1;
	color: #FFF !important;
}

a, a:link, a:visited {
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-o-transition: all .3s;
	-ms-transition: all .3s;
	transition: all .3s;
	text-decoration: underline !important;
	color: #fff !important;
}

a:hover {
	color: #FFCC00 !important;
	text-decoration: none !important;
}

.gomobile {
	display: none;
}


#mobilebg {
	display: none;
}

/* Header */

#header {
	text-align: center;
	padding: 0 !important;
}

#header .sub-title {
	display: block;
	margin: 25px auto 0;
	width: 303px;
}

#header .henry {
	margin-bottom: 5px;
	margin-top: 30px;
}

#header p {
	margin: 30px 0;
}

/* Content */

#content {
	background: url('../images/gray-transparent.png') repeat scroll 0 0 transparent;
	padding: 30px 20px;
}

#wrapper {
	margin: 0 auto;
	max-width: 1150px;
}

#inner-wrapper {
	width: 450px;
	float: left;
	padding: 0 0 330px;
	position: relative;
}

#container p {
	font: 15px/26px 'Open Sans', sans-serif;
}

/* Footer */

#footer-wrapper {
	background: url("../images/gray-transparent.png") repeat scroll 0 0 transparent;
	bottom: 0;
	max-width: 450px;
	position: absolute;
	width: 100%;
}

#footer {
	padding: 15px 0;
	border: 0 none;
}

#footer p {
	font: 13px/1 'Open Sans',sans-serif;
	margin: 0;
	text-align: center;
}

#footer .heart {
	background: url("../images/ico-heart.png") no-repeat scroll 0 0 transparent;
	display: inline-block;
	height: 10px;
	width: 12px;
}

#footer a {
	color: #FFFFFF;
	text-decoration: none;
}
	#footer a:hover {
		text-decoration: none;
		color: #FFCC00;
	}



/*-------------------------------------------------------------------------------------------*/

/* Product Single */

/*-------------------------------------------------------------------------------------------*/

#tab-description ul {
    padding-left: 20px;
}

#tab-description li {
    font-family: 'Montaga',serif;
    font-size: 14px;
    line-height: 1.8;
    list-style: circle inside;
}



/* Colorbox */

#cboxClose {
	border: 0 none;
}

/* Share Page */

.page-template-template-share-page-php header h2 {
	color: #999999;
	font: 15px/30px 'Gentium Basic',sans-serif;
	text-align: center;
}

.page-template-template-share-page-php .inner-wrapper {
    background-color: #F8F8F8;
    padding-bottom: 30px;
}

.stripes {
	background: url("../images/rainbow-top.png") repeat scroll 0 0 transparent;
	height: 5px;
}

.share-content {
	margin: 0 auto;
	padding: 15px 0;
	width: 900px;
}

.text-container {
	border-bottom: 1px solid #DDDDDD;
	margin: 0 auto;
	overflow: auto;
	padding: 0 15px 10px;
}

.text-container img {
	display: block;
	float: left;
}

.text-container .text-head {
	float: left;
	margin-left: 15px;
	margin-top: 11px;
}

.text-container h1 {
	color: #333333;
	font: 20px/1.3 'Gentium Basic', sans-serif;
}

.text-container h2 {
	background: url("../images/will-you-help-me.png") no-repeat scroll 0 0 transparent;
	height: 32px;
	text-indent: -9999px;
	width: 289px;
}

.share-content > p {
	border-top: 1px solid #EEEEEE;
	color: #333333 !important;
	font: 15px/1.6 'Gentium Basic', sans-serif;
	padding: 10px 15px;
}

.share-content > p > span {
	color: #878787;
}

.progress {
	background-color: #DFDFDF;
	border-radius: 6px 6px 6px 6px;
	margin-bottom: 22px;
}

.progress h2 {
	background-color: #C92127;
	border-radius: 6px 6px 6px 6px;
	color: #FFFFFF;
	font: 20px/1.3 "bree serif",sans-serif;
	text-align: center;
	width: 20%;
}

.share-box {

}

.share-box ul {
	overflow: auto;
}

.share-box li {
	float: left;
	width: 33.33%;
}

.share-box li > div {
	margin-top: 15px;
}

.share-box h1 {
	font: 12px "Open Sans", sans-serif;
	height: 20px;
	text-align: center;
	text-indent: -9999px;
}
	.share-box .facebook h1 { background: url('../images/share-on-facebook.png') no-repeat center 0 transparent; }
	.share-box .twitter h1 { background: url('../images/post-on-twitter.png') no-repeat center 0 transparent; }
	.share-box .youtube h1 { background: url('../images/watch-our-video.png') no-repeat center 0 transparent; }

.share-box h2 {
	color: #666666;
	font: 15px/1.9 'Gentium Basic',sans-serif;
	text-align: center;
}

.share-box div a {
	border-radius: 10px 10px 10px 10px;
	display: block;
	height: 96px;
	max-height: 96px;
	margin: 0 auto;
	position: relative;
	text-align: right;
	text-decoration: none !important;
	width: 251px;
}
	.share-box .facebook a { background: url('../images/facebook-background.png') repeat 0 0 transparent; }
	.share-box .twitter a { background: url('../images/twitter-background.png') repeat 0 0 transparent; }
	.share-box .youtube a { background: url('../images/video-background.png') repeat 0 0 transparent; }
	.share-box div a:hover { color: #FFFFFF !important;}

.share-box div.background-share {
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-o-transition: all .5s;
	-ms-transition: all .5s;
	transition: all .5s;

	background-color: transparent;
    background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: center center;
	position: absolute;
	height: 96px;
}
	.share-box .facebook div.background-share {
		background-size: 50% auto;
		left: 10px;
		width: 57px;
	}
	
	.share-box .twitter div.background-share {
		background-position: 25px center;
		background-size: 50% auto;
		width: 125px;
	}
	
	.share-box .youtube div.background-share {
		background-position: 25px center;
		background-size: 30% auto;
		width: 122px;
	}
	
	.share-box a:hover div.background-share {
		background-size: 100% auto;
		background-position: center center;
		opacity: 0.3;
	}

.share-box div a span {
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-o-transition: all .5s;
	-ms-transition: all .5s;
	transition: all .5s;

    font: 40px/96px "luxi-sans",sans-serif;
    padding-right: 15px;
}
	.share-box div a:hover span {
		font-size: 48px;
		padding-right: 30px;
	}

#footer-wrapper.share-footer {
    background: none repeat scroll 0 0 #F5F5F5;
    margin: 200px auto 0;
    max-width: 100%;
	padding: 0;
    position: static;
}

#footer-wrapper.share-footer #footer {
	padding: 40px 0;
}

#footer-wrapper.share-footer p {
	color: #DDDDDD !important;
	font: 13px/1.8 'Gentium Basic',sans-serif;
}

#footer-wrapper.share-footer .heart {
	background: url('../images/ico-share-heart.png') no-repeat scroll 0 0 transparent;
	height: 14px;
	width: 16px;
}

#footer-wrapper.share-footer .misfit-inc {
    background: url("../images/misfit-inc-footer-logo.png") no-repeat scroll 0 0 transparent;
    height: 36px;
    margin: 10px auto 0;
    width: 154px;
}


/* WooCommerce */

.woocommerce ul.products li.product .button {
	color: #515151 !important;
}

/* Responsive Design Desktop ---------------------------------------- */

@media only screen and (min-width: 1025px) and (max-width: 1200px) {
	#wrapper {
		margin: 0 30px;
	}
}

/* Responsive Design 960px - 1024px ---------------------------------------- */

@media only screen and (min-width: 960px) and (max-width: 1024px) {
	
	#inner-wrapper {
		margin: 0 0 0 30px;
	}
}

/* Responsive Design Mobile ---------------------------------------- */

@media only screen and (max-width: 959px) {
	
	html {
		-webkit-text-size-adjust: none;
	}
	
	#content {
		margin: 0 auto;
	}
	
	/* Share Page */
	
	.share-content {
		max-width: 900px;
		padding: 15px;
		width: auto;
	}
}

/* Responsive Design 768px - 959px ---------------------------------------- */

@media only screen and (min-width: 768px) and (max-width: 959px) {
	
	#inner-wrapper {
		padding: 0;
	}
	
	#footer-wrapper {
		margin: 163px auto 0;
		max-width: 400px;
		padding: 0 25px;
		position: relative;
	}
	
	#footer {
		padding: 20px 0;
	}
}

/* Responsive Design 830px ---------------------------------------- */

@media only screen and (max-width: 830px) {

	/* Share Page */
	
	.progress {
		margin-bottom: 0;
	}
	
	.share-box ul {
		width: 400px;
		margin: 0 auto;
	}
	
	.share-box li {
		float: none;
		width: auto;
	}
	
	.hborder {
		border-top: 1px solid #CCCCCC;
		margin: 35px 0;
	}
}

/* Responsive Design 767px ---------------------------------------- */

@media only screen and (max-width: 767px) {

	#inner-wrapper {
		float: none;
		margin: 0 auto;
		padding: 0;
		position: static;
	}

	#footer-wrapper {
		position: static;
	}
	
	#footer p {
		line-height: 20px;
	}
	
	#footer {
		padding: 15px 0;
	}
}

/* Responsive Design 480px - 767px ---------------------------------------- */

@media only screen and (min-width: 480px) and (max-width: 767px) {
	
	#inner-wrapper {
		width: 460px;
	}

	#footer-wrapper {
		margin: 100px auto 0;
		max-width: 460px;
	}
}

/* Responsive Design 479px ---------------------------------------- */

@media only screen and (max-width: 479px) {
	
	html {
		min-width: 320px;
	}
	
	#inner-wrapper {
		width: 320px;
	}
	
	#header .sub-title {
		margin: 15px auto 0;
		width: 100%;
	}
	
	#header img.logo {
		width: 225px;
	}
	
	#header .henry {
		margin-bottom: 0;
		margin-top: 25px;
		width: 40px;
	}
	
	#content {
		width: 260px;
	}
	
	.gomobile {
		display: inline !important;
	}
	
	#footer-wrapper {
		margin: 100px auto 0;
		width: 300px;
	}
	
	/* Share Page */
	
	.text-container img {
		width: 64px;
	}
	
	.text-container h1 {
		font-size: 16px;
	}
	
	.share-box ul {
		width: auto;
	}
}