@font-face {
	font-family: 'Brandon-Bold';
	src: url('/fonts/Brandon-Bold/Brandon-Bold.eot'),
		 url('/fonts/Brandon-Bold/Brandon-Bold.woff') format('woff'),
		 url('/fonts/Brandon-Bold/Brandon-Bold.ttf')  format('truetype'),
		 url('/fonts/Brandon-Bold/Brandon-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Brandon-Regular';
	src: url('/fonts/Brandon-Regular/Brandon-Regular.eot'),
		 url('/fonts/Brandon-Regular/Brandon-Regular.woff') format('woff'),
		 url('/fonts/Brandon-Regular/Brandon-Regular.ttf')  format('truetype'),
		 url('/fonts/Brandon-Regular/Brandon-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Brandon-Medium';
	src: url('/fonts/Brandon-Medium/Brandon-Medium.eot'),
		 url('/fonts/Brandon-Medium/Brandon-Medium.woff') format('woff'),
		 url('/fonts/Brandon-Medium/Brandon-Medium.ttf')  format('truetype'),
		 url('/fonts/Brandon-Medium/Brandon-Medium.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Avenir-Regular';
	src: url('/fonts/Avenir-Regular/Avenir-Regular.eot'),
		 url('/fonts/Avenir-Regular/Avenir-Regular.woff') format('woff'),
		 url('/fonts/Avenir-Regular/Avenir-Regular.ttf')  format('truetype'),
		 url('/fonts/Avenir-Regular/Avenir-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
