/* ================================================ 1920 ==================================================== */

@media only screen and (max-width: 1920px) {
}



/* ================================================ 1600 ==================================================== */

@media only screen and (max-width: 1600px) {
	
}



/* ================================================ 1440 ==================================================== */

@media only screen and (max-width: 1440px) {
	
}



/* ================================================ 1366 ==================================================== */

@media only screen and (max-width: 1366px) {
	
}



/* ================================================ 1180 ==================================================== */

@media only screen and (max-width: 1180px) {
}



/* ================================================ 1024 ==================================================== */

@media only screen and (max-width: 1024px) {

    /* 1024 - Container */

    .container {
        max-width: 90%;
        margin: 0 auto;
    }

    /* 1024 - Photo Content */

    .photo-content__wrap-item {
        padding: 2rem;
    }

    /* 1024 - Photo Content Full */

    .photo-content-full__wrap {
        @include flex-flow(column nowrap);
    }

    .photo-content-full__img {
        padding: 0;
    }

    .photo-content-full__item {
        @include align-items(center);
        margin: 0 0 5rem;
        &:last-child {
            margin: 0;
        }
    }

    /* 1024 - Footer */

    .footer__address-wrap {
        padding: 0 5rem 0 0;
    }
}



/* ================================================ 1023 ==================================================== */

@media only screen and (max-width: 1023px) {

    /* 1023 - Common */

    .btn-floatee.btn-floatee--active {
        bottom: 5%;
    }

    /* 1023 - Nav */ 

    .main-nav__nav {
        display: none;
    }

    .main-nav__ham {
        display: block;
    }

    .main-nav-menu {
        display: block;
    }

    /* 1023 - Contact Lightbox */

    .contact-lightbox__wrap {
        width: 80%;
    }

    /* 1023 - Banner */

    .banner {
        @include flex-flow(column nowrap);
    }

    .banner.banner--plain {
        height: calc(100vh - 50%);
    }

    .banner.banner--plain .banner__content {
        padding: 15rem 0;
    }

    .banner__content {
        @include flex(1 0 100%);
        z-index: 2;
        padding: 20rem 5% 0 5%;
    }

    .banner__img {
        @include flex(1 0 100%);
        z-index: 1;
        margin: -25rem 0 0;
    }

    /* 1023 - Hero */

    .hero__content {
        padding: 0;
    }

    .hero__content h2 {
        text-align: center;
    }

    /* 1023 - Photo Content */

    .photo-content__wrap {
        @include flex-flow(column nowrap);
    }

    .photo-content__wrap-item {
        @include flex(1 0 100%);
    }

    /* 1023 - Photo Content Full */

    .photo-content-full__logos {
        @include flex-flow(row wrap);
    }

    .photo-content-full__logos-wrap {
        @include flex(1 0 30%);
        margin: 0 0 5rem;
    }

    /* 1023 - Footer */

    .footer__links-head {
        margin: 0 0 12rem;
    }

    .footer__address {
        padding: 0;
    }
}



/* ================================================ 768 ==================================================== */

@media only screen and (max-width: 768px) {
}



/* ================================================ 767 ==================================================== */

@media only screen and (max-width: 767px) {

    /* 767 - Common */ 

    h1,
    h2 {
        font-size: 3.5rem;   
    }

    h3 {
        font-size: 2.2rem;
    }

    /* 767 - Nav */

    .main-nav {
        height: 7.5rem;
    }

    .main-nav__logo img {
        max-width: 6.5rem;
    }

    .main-nav__ham {
        @include flex(0 0 5rem);
        height: 2.5rem;
    }

    .main-nav-menu {
        width: 75%;
        padding: 10rem 0 0;
    }

    .main-nav.main-nav--scrolled {
        height: 5.5rem;
    }

    .main-nav.main-nav--scrolled .main-nav__logo img {
        max-width: 5rem;
    }

    /* 767 - Banner */

    .banner__content {
        padding: 10rem 5% 0 5%;
    }

    .banner__content p {
        font-size: 1.6rem;
        margin: 0 0 2rem;
    }

    .banner__img {
        margin: -8rem 0 0;
    }

    .banner.banner--plain {
        height: calc(100vh - 30%);
    }

    /* 767 - Photo Content */

    .photo-content__wrap-item img {
        height: 18rem;
    }

    .photo-content__wrap {
        padding: 0;
    }

    .photo-content__wrap-item {
        padding: 2rem 0;
    }

    /* 767 - Photo Content Full */ 

    .photo-content-full__item {
        @include flex-flow(column nowrap);
    }

    .photo-content-full__img {
        @include flex(1 0 100%);
        margin: 0 0 2rem;
    }

    .photo-content-full__content {
        @include flex(1 0 100%);
        padding: 0;
    }

    .photo-content-full__wrap {
        margin: 0 0 5rem;
    }

    .photo-content-full__logos-wrap {
        @include flex(1 0 50%);
        &:last-child {
            margin: 0;
        }
    }

    .photo-content-full__logos-wrap img {
        width: 70%;
        max-width: 13rem;
    }

    .photo-content-full__img-icon {
        width: 6rem;
        height: 6rem;
    }

    /* 767 - Footer */

    .footer .container {
        @include flex-flow(column nowrap);
    }

    .footer__links {
        @include flex(1 0 100%);
    }

    .footer__links-head {
        margin: 0 0 5rem;
    }

    .footer__address {
        @include flex(1 0 100%);
        @include justify-content(flex-start);
        padding: 5rem 0 0;
    }

    .footer__address-wrap h3 {
        margin: 0 0 1rem;
    }

    .footer__address-wrap h3 {
        font-size: 1.5rem;
    }

    .footer__address-wrap p {
        font-size: 1.2rem;
    }

}



/* ================================================ 600 ==================================================== */

@media only screen and (max-width: 600px) {
}



/* ================================================ 499 ==================================================== */

@media only screen and (max-width: 499px) {
}



/* ================================================ 399 ==================================================== */

@media only screen and (max-width: 399px) {
}



/* ================================================ 320 ==================================================== */

@media only screen and (max-width: 320px) {
}