/* Defaults
--------------------------------------------------*/

a, a:visited {
    color: #1392A5;
}

/* Content Settings
--------------------------------------------------*/

.woocommerce-page label, .woocommerce-page legend {
    display: inline;
}

#content p a:hover, #meet-the-team .team-member p a:hover, #comments .author a:hover, #comments .author a.comment-reply-link:hover, #comments .comment-edit-link:hover, #sidebar .widget a:hover {
    color: #C92026;
}

/* Woocommerce Custom Settings
--------------------------------------------------*/

/*Cart*/

.woocommerce-page #main h1 {
    border-bottom: 0 none;
    display: block;
    font-family: Gentium Book Basic Italic,serif;
    font-size: 50px;
    font-style: italic;
    font-weight: normal;
    margin: 0 0 40px;
    padding: 0;
    text-align: center;
    text-transform: none;
}

.woocommerce table.shop_table, .woocommerce-page table.shop_table {
    border: 0 none;
    border-collapse: separate;
    border-radius: 5px 5px 5px 5px;
    margin: 0 -1px 24px 0;
    text-align: left;
    width: 100%;
}

.woocommerce table.shop_table td, .woocommerce-page table.shop_table td {
    border-top: 0 none;
    padding: 15px 12px;
    vertical-align: middle;
}

.woocommerce a.button, .woocommerce button.button, .woocommerce input.button, .woocommerce #respond input#submit, .woocommerce #content input.button, .woocommerce-page a.button, .woocommerce-page button.button, .woocommerce-page input.button, .woocommerce-page #respond input#submit, .woocommerce-page #content input.button {
    background: none repeat scroll 0 0 #1392A5;
    border: 0 none;
    border-radius: 2px 2px 2px 2px;
    box-shadow: none;
    color: #EFFAFB;
    cursor: pointer;
    display: inline-block;
    font-family: inherit;
    font-size: 100%;
    font-weight: bold;
    left: auto;
    line-height: 1em;
    margin: 0;
    overflow: visible;
    padding: 6px 10px;
    position: relative;
    text-decoration: none;
    text-shadow: none;
    white-space: nowrap;
}
	.woocommerce a.button:hover, .woocommerce button.button:hover, .woocommerce input.button:hover, .woocommerce #respond input#submit:hover, .woocommerce #content input.button:hover, .woocommerce-page a.button:hover, .woocommerce-page button.button:hover, .woocommerce-page input.button:hover, .woocommerce-page #respond input#submit:hover, .woocommerce-page #content input.button:hover {
	    background: none repeat scroll 0 0 #1392A5;
	    opacity: 0.8;
	    text-decoration: none;
	}

.woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt, .woocommerce #respond input#submit.alt, .woocommerce #content input.button.alt, .woocommerce-page a.button.alt, .woocommerce-page button.button.alt, .woocommerce-page input.button.alt, .woocommerce-page #respond input#submit.alt, .woocommerce-page #content input.button.alt {
    background: none repeat scroll 0 0 #1392A5;
    border: 0 none;
    color: #C6ECF1;
    text-shadow: none;
}
	.woocommerce a.button.alt:hover, .woocommerce button.button.alt:hover, .woocommerce input.button.alt:hover, .woocommerce #respond input#submit.alt:hover, .woocommerce #content input.button.alt:hover, .woocommerce-page a.button.alt:hover, .woocommerce-page button.button.alt:hover, .woocommerce-page input.button.alt:hover, .woocommerce-page #respond input#submit.alt:hover, .woocommerce-page #content input.button.alt:hover {
	    background: none repeat scroll 0 0 #1392A5;
	    color: #D7FDFF;
	    opacity: 0.8;
	    text-shadow: none;
	}

.woocommerce .quantity input.qty, .woocommerce #content .quantity input.qty, .woocommerce-page .quantity input.qty, .woocommerce-page #content .quantity input.qty {
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	-o-border-radius: 0;
	-ms-border-radius: 0;
    border-color: #CCCCCC;
    border-image: none;
    border-style: solid none solid solid;
    border-width: 1px 0 1px 1px;
    box-shadow: none;
    float: left;
    font-weight: bold;
    height: 28px;
    padding: 0;
    text-align: center;
    width: 40px;
}

.woocommerce .quantity .plus, .woocommerce .quantity .minus, .woocommerce #content .quantity .plus, .woocommerce #content .quantity .minus, .woocommerce-page .quantity .plus, .woocommerce-page .quantity .minus, .woocommerce-page #content .quantity .plus, .woocommerce-page #content .quantity .minus {
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	-o-border-radius: 0;
	-ms-border-radius: 0;
    background: none repeat scroll 0 0 #1392A5;
    border: 0 none;
    box-shadow: none;
    color: #EFFAFB;
    cursor: pointer;
    display: block;
    font-size: 12px;
    font-weight: bold;
    height: 15px;
    margin: 0;
    overflow: visible;
    padding: 0;
    position: absolute;
    text-align: center;
    text-decoration: none;
    text-shadow: none;
    vertical-align: text-top;
    width: 20px;
}
	.woocommerce .quantity .plus:hover, .woocommerce .quantity .minus:hover, .woocommerce #content .quantity .plus:hover, .woocommerce #content .quantity .minus:hover, .woocommerce-page .quantity .plus:hover, .woocommerce-page .quantity .minus:hover, .woocommerce-page #content .quantity .plus:hover, .woocommerce-page #content .quantity .minus:hover {
	    background: none repeat scroll 0 0 #1392A5;
	    opacity: 0.8;
	}

.woocommerce table.cart td.actions .coupon .input-text, .woocommerce #content table.cart td.actions .coupon .input-text, .woocommerce-page table.cart td.actions .coupon .input-text, .woocommerce-page #content table.cart td.actions .coupon .input-text {
    border: 1px solid #DDDDDD;
    box-shadow: none;
    float: left;
    line-height: 1em;
    margin: 0 10px 0 0;
    outline: 0 none;
    padding: 9px 6px;
    width: 150px;
}

/* Cart Totals */

.woocommerce .cart-collaterals .cart_totals tr td, .woocommerce .cart-collaterals .cart_totals tr th, .woocommerce-page .cart-collaterals .cart_totals tr td, .woocommerce-page .cart-collaterals .cart_totals tr th {
    border-top: 1px solid #DDDDDD;
    padding: 15px 6px;
}

/* Checkout Page */

.woocommerce-message, .woocommerce-error, .woocommerce-info {
    background: -moz-linear-gradient(center top , #FFFFFF 0%, #FFFFFF 100%) repeat scroll 0 0 transparent;
    border: 1px solid #1E85BE;
    border-radius: 4px 4px 4px 4px;
    box-shadow: none;
    color: #666666;
    list-style: none outside none;
    margin: 0 0 2em;
    padding: 1em 1em 1em 3.5em;
    position: relative;
    text-shadow: 0 1px 0 #FFFFFF;
    width: auto;
}

#customer_details {
    margin-bottom: 30px;
}

.woocommerce #payment, .woocommerce-page #payment {
    background: none repeat scroll 0 0 transparent;
    border-radius: 5px 5px 5px 5px;
}

/* Order received */

.woocommerce .order_details li, .woocommerce-page .order_details li {
    border-right: 1px dashed #E6E6E6;
    float: left;
    font-size: 16px;
    line-height: 1em;
    list-style: none outside none;
    margin-right: 1em;
    padding-right: 1em;
    text-transform: uppercase;
}

.woocommerce .order_details li strong, .woocommerce-page .order_details li strong {
    display: inline;
    font-size: 16px;
    line-height: 1.5em;
    margin-left: 10px;
    text-transform: none;
}

.order-received-message {
    font-weight: normal !important;
    margin-bottom: 20px;
    text-transform: capitalize;
}

.customer_details {
    margin-bottom: 30px;
}

/* Chosen
================================================== */

.chzn-container .chzn-drop {
	left: -9999px;
}

.home .chzn-container-single .chzn-single {
	-webkit-border-radius: 0 !important; 
	-moz-border-radius: 0 !important; 
	border-radius: 0 !important;
	-ms-border-radius: 0 !important;
	-o-border-radius: 0 !important;
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.3) !important;
	border: 0 none !important;
	box-shadow: none !important;
	color: #FFFFFF !important;
	display: block !important;
	font-size: 35px !important;
	font-style: normal !important;
	height: auto !important;
	line-height: 1 !important;
	padding: 20px !important;
	text-indent: 2% !important;
	text-transform: uppercase !important;
	width: 90.3% !important;
}

.home .chzn-container-single .chzn-single div b, .home .chzn-container-single .chzn-single div {
	display: none !important;
}

.home .chzn-container-single .chzn-single span {
	line-height: 1.2 !important;
	margin-right: 0 !important;
}

.home .chzn-container-single .chzn-drop {
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	-ms-box-shadow: none;
	-o-box-shadow: none;
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.3) !important;
	border-width: 0 !important;
	background-clip: padding-box;
	border-radius: 0 0 4px 4px;
	margin-top: 0 !important;
}

.home .chzn-container .chzn-results {
	color: #FFFFFF;
	font-size: 20px;
	margin-bottom: 0 !important;
}

.home .chzn-container .chzn-results li {
	line-height: 1.5 !important;
	padding: 10px 6px !important;
}

.home .chzn-container .chzn-results .highlighted {
	background-color: rgba(0,0,0,.3) !important;
	background-image: none !important;
	color: #FFFFFF;
}

.home .chzn-container .chzn-results .no-results {
	background: none repeat scroll 0 0 transparent !important;
	display: list-item;
}

.home .chzn-search > input {
	font-size: 20px !important;
	text-transform: none !important;
}