@media only screen and (min-width : 1481px) {
	
	
}

@media only screen
and (max-width : 1480px) 
{
	.littlehenry {
		height: 247px;
    }
}


@media only screen 
	and (min-width : 1400px) 
	and (max-width : 1480px) 
{
		

	.stage {
		overflow: hidden;
	}
	
	.dragon {
		right: 0;
		bottom: -240px;
		background-size: 82%;
		right: -90px;
		overflow: hidden;
	}
	
	.littlehenry {
		position: absolute;
		background: url(../images/littlehenry.png) no-repeat;
		left: 20%;
		bottom: 0px;
		width: 215px;
		background-size: 70%;
    }
	


}

@media only screen 
and (max-width : 1280px) {
	.upswing h1 {
		font-size: 21px;
	}
}

@media only screen 
and (min-width : 1224px) 
and (max-width : 1399px) 
{

	
	
	.stage {
		overflow: hidden;
	}
	
	.dragon {
		right: 0;
		bottom: -240px;
		background-size: 82%;
		right: -90px;
		overflow: hidden;
	}
	
	.littlehenry {
		position: absolute;
		background: url(../images/littlehenry.png) no-repeat;
		left: 20%;
		bottom: 0px;
		width: 215px;
		background-size: 70%;
    }
	
	
}



/* #Narrow Screen, Below 1400px (Portrait)
================================================== */

    /* Note: Design for a width of 768px */



@media only screen 
and (min-width : 1224px) 
and (max-width : 1300px) 
{


	
	
	.whyfail .earthscribble {
		width: 220px;
	}





}



/* ================================================  FIRST STAGE LARGER THAN 1024PX UP TO LARGER BROWSERS  ======================================= */



@media only screen 
and (min-width : 1024px) 
and (max-width : 1223px) 
{		
		
	
	/* Background */

	.dragon {
		background-size: -200% 0 !important;
		right: -30%;
		background-size: 100%;
		bottom: -70px;
	}

	.littlehenry {
		background-size: 70% auto;
		bottom: 0;
		left: 19%;
	}

	.leftscribble {
		left: -150px;
	}
	.whyfail .earthscribble {
		width: 150px;
	}
	
	.stage {
		overflow: hidden;
	}
	
	/*.dragon {
		right: 0;
		bottom: -240px;
		background-size: 82%;
		right: -90px;
		overflow: hidden;
	}*/



	/* Kerouac */

	.poetrycontainer {
		width: 46%;
	}

	/* Page - Fail */

	.leftscribble {
		left: -10%;
		top: 61%;
	}
	

	
}



/* ================================================  > THAN 1024PX  ======================================= */



@media only screen 
and (min-width : 1025px) {



	/* Secondary Navigation */

	.secondarynav li a {
		padding: 31px 0  26px;
	}
	
	/* Bottomnavmob */
	
	.bottomnavmob {
		display: none;
	}



}

@media only screen 
and (min-width : 1025px)
and (max-width : 1280px) {

	/* Get This Issue */
	
	.subcr {
		padding: 19px 0 18px;
	}
	
	.upswing {
		top: -392px;
		height: 390px;
	}
		.primarynav ul li:hover .upswing {
			top: -392px;
		}
}

/* ================================================  1024PX AND UP  ======================================= */



@media only screen 
and (min-width : 1024px) {



	.pagecontainer {
		margin: 70px auto 100px;
		width: 50%;
	}
	
	.misfit-commerce.commerce .pagecontainer {
		margin: 0 auto;
		padding: 50px 50px 100px;
		width: 65%;
	}

	/* Single Product Page */

	.attachment-shop_single.wp-post-image {
		/*width: 50% !important;*/
		margin: 0 auto;
	}

	/* #collection.viewing-page-1 section .social-share-like {
		left: 70px;
		margin: 0 auto;
		position: absolute;
		right: 0;
		top: 90px;
		width: 300px;
	}*/
	
	/* 404 */
	
	#the-dragon-ate-our-page .stage {
		overflow: visible;
	}
	
	#the-dragon-ate-our-page .pagecontainer {
		width: 680px;
	}



}



/* ================================================  SCREENS UP TO 1024  ======================================= */

@media only screen
and (max-width : 1219px) {

	/* single Product */
	
	body.page-template-default .pagecontainer,
	body.page-template-template-submit-php .pagecontainer,
	body.page-template-template-about-php .pagecontainer,
	body.page-template-template-team-php .pagecontainer {
		margin: 0 50px;
		width: auto;
	}
	
	.tile-wrapper {
		width: 1000px;
	}
}

@media only screen
and (max-width : 1200px) {

	.summary.entry-summary h1.product_title {
		width: 70%;
		text-align: left;
	}

}

@media only screen
and (max-width : 1024px) {


	p {
		font-size: 12px;
	}

	/*.stage {
		overflow: auto;
	}*/

	/* Background */

	.dragon {
		background-size: -200% 0 !important;
		right: -30%;
		background-size: 100%;
		bottom: -70px;
	}



	/* Navigation */

	.upswing h1 {
		font-size: 120%;
	}

	.upswing p {
		line-height: 1.5;
	}

	.drops {
		opacity: 0;
		visibility: visible;
		display: none;
	}

	.navdrop:hover .drops {
		opacity: 1;
		visibility: visible;
		display: block;
	}
	
	/* Bottomnav */
	
	.bottomnav {
		display: none;
	}



	/* Secondary Navigation */

	.secondarynav li a {
		padding: 17px 0;
	}

	/* Pages */

	.pagecontainer {
		width: 70%;
		padding: 70px auto 100px;
		margin: 70px auto 100px;
	}

	img.aligncenter.size-full, img.aligncenter.size-full {
		width: 50%;
	}

	.authorbox {
		background: none repeat scroll 0 0 #6C6C6C;
		clear: both;
		padding: 50px 0;
		position: relative;
		width: 100%;
		height: 100%;
	}

	.whyfail .authorbox .container, #kerouac .authorbox .container, #birthday .authorbox .container {
		width: 90%;
	}

	.pichalf {
		float: none;
		margin: 0 auto;
		width: 50%;
	}

	.authorbox .contenthalf {
		float: none;
		height: 100%;
		margin: 10px auto 0;
		overflow: hidden;
		padding-top: 0;
		text-align: center;
		width: 80%;
	}

	.authorbox .container p {
		color: #FFFFFF;
		text-align: center;
		font-family: Georgia;
		font-size: 14px;
		font-style: italic;
	}

	.pichalf > img {
		width: 100%;
	}

	/* Page - Waiting for Kerouac */

	#kerouac {
		height: auto;
	}

	#kerouac .salparadise {
		background: url("../images/kerouac_waiting.png") no-repeat scroll 0 0 / contain rgba(0, 0, 0, 0);
		height: 148px;
		left: 0;
		margin: -40px 0 40px;
		position: relative;
		width: 100%;
	}

	#kerouac .social-share-like {
		left: 0;
	}

	#kerouac .dean {
		left: -30% !important;
	}

	.poetrycontainer {
		width: 45%;
	}



	/* Page - Products */

	.misfit-commerce .littlehenry {
		background: url("../images/littlehenry.png") no-repeat scroll 0 0 / contain rgba(0, 0, 0, 0);
		bottom: 0;
		left: 12%;
		position: absolute;
		width: 20%;
		height: 10%;
	}

	.artmaker {
		top: 80%;
	}



	/* Page - Fail */

	.whyfail .failheader {
		height: 105px;
		background-size: contain;
	}

	.whyfail .container {
		width: 60%;
	}

	.whyfail .container .inner {
		width: 100%;
	}

	.whyfail blockquote.statement {
		padding: 20px;
	}

	#fail .whyfail blockquote.statement p {
		font-size: 35px;
		line-height: 1.1;
		padding: 0 20px;
	}

	#fail .whyfail blockquote p {
		font-size: 45px;
		line-height: 1;
	}

	.pichalf > img {
		display: block;
		margin: 0 auto;
		position: relative;
		width: 60%;
	}
	
	/* 404 */
	
	#the-dragon-ate-our-page .pagecontainer {
		width: 598px;
	}
	
	#the-dragon-ate-our-page .pagecontainer h1 {
		margin-top: -160px;
	}
	
	/* Shop Page */
	
	.tile-wrapper {
		width: 96%;
	}
}



/* ================================================  SCREENS UPTO 1023  ======================================= */

@media only screen 
and (max-width : 1023px) {



	.leftscribble {
		display: none;
	}



}

/* ================================================  SCREENS UPTO 1000  ======================================= */

@media only screen
and (max-width : 1000px) {
	
	/* Product Addons */
	
	.woocommerce ul.products.sfn-cart-addons li.product,
	.woocommerce-page ul.products.sfn-cart-addons li.product {
		width: 29.2%;
	}
}


/* ================================================  SCREENS UPTO 979  ======================================= */


@media only screen 
and (max-width : 979px) {



	/* Background */

	.dragon {
		right: -70%;
	}

	.littlehenry {
		background-size: 60% auto;
		bottom: -80px;
		left: 30%;
	}


	/* Bottom Nav */
	
	.publisher {
		width: 20%;
	}

	.primarynav {
		display: none;
	}

	.secondarynav {
		width: 37%;
	}

	.secondarynav li a {
		font-size: 17px;
		padding: 0;
		line-height: 4.3;
	}





}

@media only screen 
and (max-width : 849px) {

	/* Shop homepage */

	.tile-wrapper .portfolio-item h1 {
		font-size: 30px;
		line-height: 30px;
	}
	
	.tile-gallery .portfoliocontainer.one .portfolio-item,
	.tile-gallery .portfoliocontainer.four .portfolio-item,
	.tile-gallery .portfoliocontainer.five .portfolio-item,
	.tile-gallery .portfoliocontainer.six .portfolio-item,
	.tile-gallery .portfoliocontainer.seven .portfolio-item {
		height: 400px;
	}
}

/* ================================================  LARGE MOBILE DEVICES AND SMALL TABLETS BELOW 799  ======================================= */


@media only screen 
and (max-width : 799px) 
{
	/* Product Addons */
	
	.woocommerce ul.products.sfn-cart-addons li.product,
	.woocommerce-page ul.products.sfn-cart-addons li.product {
		width: 75%;
		margin: 0 auto 2em;
		float: none;
	}
}



/* ================================================  SCREENS WIDER THAN 768  ======================================= */


@media only screen 
and (max-width : 768px) {



	#collection.viewing-page-1 section .social-share-like {
		left: 70px;
		margin: 0 auto;
		position: absolute;
		right: 0;
		top: 90px;
		width: 300px;
	}

	.collectionwelcome h2 {
		margin: 80px 0 30px;
	}

	#collection section .social-share-like {
		margin-top: auto;
		top: 80px;
	}
	
	/* Single Product */
	
	.woocommerce div.product div.images,
	.woocommerce #content div.product div.images,
	.woocommerce-page div.product div.images,
	.woocommerce-page #content div.product div.images {
		float: none;
		width: auto;
	}
	
	.woocommerce div.product div.summary,
	.woocommerce #content div.product div.summary,
	.woocommerce-page div.product div.summary,
	.woocommerce-page #content div.product div.summary {
		float: none;
		width: auto !important;
	}
	
	/* Shop Page */
	
	.portfoliocontainer .portfolio-item {
		margin-bottom: 3%;
	}
	
	.tile-gallery .portfoliocontainer.two .portfolio-item,
	.tile-gallery .portfoliocontainer.three .portfolio-item,
	.tile-gallery .portfoliocontainer.seven .portfolio-item {
		height: 260px;
	}



}



/* ================================================  SCREENS UP TO 768  ======================================= */



@media only screen
and (max-width : 767px) {



	body {
		height: auto;
	}

	/* Home */

	body#home {
		height: 100%;
	}

	#background, #midground, #foreground, .dragon, .littlehenry {
		display: none;
	}

	.generalwrapping {
		height: 100%;
		overflow: auto;
	}

	.wrapper {
		height: 100%;
		overflow: auto;
	}

	.contentarena {
		left: 0;
		position: relative;
		top: 45px;
		width: 190px;
		margin: 0 auto;
	}

	.stage, .innerwrapper:before, .innerwrapper {
		background-image: none;
	}
	
	.woocommerce-cart .wrapper,
	.woocommerce-checkout .wrapper	{
		height: auto;
	}



	/* Bottom Nav */

	.bottomnav {
		display: none;
	}

	.drops {
		top: 31px;
	}
	
	/* Border Menus */
	
	.bt-menu-trigger {
		top: 9px;
	}
	
	.bt-menu.bt-menu-open ul li {
		padding: 5px 0;
	}
	
	.bt-menu ul li a {
		font-size: 14px;
	}
	
	.space-bottom {
		margin-top: -10px;
	}
	
	.bt-menu ul {
		width: 85px;
	}



	/* Commerce Pages */

	body#home.misfit-commerce {
		height: auto;
	}



	/* Cart / Checkout */
	
	.woocommerce-cart .pagecontainer, .woocommerce-checkout .pagecontainer {
		width: 90%;
		padding: 50px 10px 100px;
	}

	.woocommerce-cart .product-thumbnail {
		display: none;
	}

	.woocommerce .cart .button, .woocommerce .cart input.button, .woocommerce-page .cart .button, .woocommerce-page .cart input.button {
		margin-bottom: 10px;
	}

	.woocommerce-checkout .woocommerce .col2-set .col-2, .woocommerce-checkout .woocommerce-page .col2-set .col-2, .woocommerce-checkout .woocommerce .col2-set .col-1, .woocommerce-checkout .woocommerce-page .col2-set .col-1 {
		float: left;
		width: 100%;
	}

	.woocommerce .order_details li, .woocommerce-page .order_details li {
		margin-bottom: 20px;
	}

	/* Nav */

	.subcr, .subcr a {
		font-size: 19px;
		padding: 0;
		line-height: 1.2;
	}

	.subscribe {
		padding: 11px 16px 3px;
	}

	.topnav {
		height: 31px;
	}

	.homebutton, span.navdrop {
		font-size: 15px;
		padding: 5px 0 8px 15px;
		width: 33px;
	}

	/* Page - Waiting for Kerouac */

	#kerouac .wrapper {
		height: 100%;
		margin: 0 auto;
		overflow: auto;
		width: 90%;
	}
	
	.poetrycontainer {
		left: 0;
		overflow: auto;
		padding: 200px 0;
		position: relative;
		text-align: right;
		width: 100%;
	}

	#kerouac .salparadise {
		background: url("../images/kerouac_waiting.png") no-repeat scroll 100% 0 / contain rgba(0, 0, 0, 0);
		height: 118px;
		left: 0;
		width: 100%;
	}

	#kerouac .dean {
		display: none;
	}

	#kerouac .social-share-like {
		left: auto;
		right: -40%;
	}



	/* Page - Collection */

	#collection.viewing-page-1 section .social-share-like {
		left: 70px;
		margin: 0 auto;
		position: absolute;
		right: 0;
		width: 300px;
	}

	/* Page - The Last Birthday */

	.birthday .title {
		background: url("../images/birthday_title.png") no-repeat scroll center bottom / contain rgba(0, 0, 0, 0);
		width: 90%;
		height: 57px;
	}

	.narrowmarrow {
		width: 90%;
	}

	.birthday blockquote p {
		font-size: 45px;
	}

	/* Page - Products */

	.products li {
		margin: 0 0 16px;
		width: 100%;
	}

	.products li a {
		display: block;
	}

	.attachment-shop_catalog.wp-post-image {
		width: 80%;
	}



	/* Page - Why we fail */

	.whyfail .topscribble, .leftscribble, .earthscribbler {
		background-image: none;
	}

	.whyfail {
		padding-top: 64px;
	}

	.whyfail .container {
		width: 90%;
	}

	.whyfail .first, .whyfail .last {
		width: 100% !important;
	}

	.whyfail .container .inner {
		width: 100%;
	}

	.whyfail blockquote {
		opacity: 1;
	}

	#fail .whyfail blockquote p {
		font-size: 40px;
		line-height: 1;
	}
	
	body.misfit-commerce .pagecontainer {
		margin: 30px auto 50px;
		padding: 10px 10px 50px;
		width: 420px;
	}
	
	/* 404 */
	
	#the-dragon-ate-our-page .pagecontainer {
		width: 350px;
		padding: 50px 20px 100px;
	}
	
	#the-dragon-ate-our-page .dragon {
		height: 310px;
	}
	
	#the-dragon-ate-our-page .pagecontainer h1 {
		font-size: 32px;
	}
	
	#the-dragon-ate-our-page .pagecontainer p,
	#the-dragon-ate-our-page .pagecontainer a {
		font-size: 16px;
	}
	
	/* My account */
	
	#home.woocommerce-account .form-row {
		padding: 0;
	}
	
	#home.woocommerce-account .pagecontainer {
		padding: 50px 20px;
	}
	
	#home.woocommerce-account .form-row.form-row-first,
	#home.woocommerce-account .form-row.form-row-last {
		float: none;
		width: auto;
		padding: 0;
	}
	
	/* My account - logged in */
	
	#home.woocommerce-account.logged-in .stage {
		height: auto;
		padding-bottom: 100px;
	}
	
	#home.woocommerce-account.logged-in .col2-set.addresses .col-1,
	#home.woocommerce-account.logged-in .col2-set.addresses .col-2 {
		width: auto;
		float: none;
	}
	
	/* Lost Password */
	
	#home.woocommerce-account.page-id-42 input.button {
		display: block;
		width: 100%;
		margin-top: 15px;
	}
	
	.portfoliocontainer.mobile .portfolio-item {
		height: 275px;
	}
	
	/* Shop homepage */
	
	.displayonly-desktop {
		display: none;
	}
	
	.displayonly-mobile {
		display: block;
	}
	
	.tile-wrapper .portfoliocontainer.mobile .portfolio-item {
		height: 400px;
	}
}



/* ================================================  SCREENS UP TO 568  ======================================= */

@media only screen 
and (max-width : 568px) 
{
	/* Product Addons */
	
	.woocommerce ul.products.sfn-cart-addons li.product,
	.woocommerce-page ul.products.sfn-cart-addons li.product {
	}
	
	body.page-template-default .pagecontainer {
		margin: 0 20px;
	}
	
	/* Cart Coupon Button */
	
	.woocommerce table.cart td.actions .coupon,
	.woocommerce #content table.cart td.actions .coupon,
	.woocommerce-page table.cart td.actions .coupon,
	.woocommerce-page #content table.cart td.actions .coupon {
		width: 100%;
	}
	
	.woocommerce table.cart td.actions .coupon .input-text,
	.woocommerce #content table.cart td.actions .coupon .input-text,
	.woocommerce-page table.cart td.actions .coupon .input-text,
	.woocommerce-page #content table.cart td.actions .coupon .input-text {
		float: left;
		width: 50%;
	}
	
	.woocommerce table.cart td.actions .coupon .button,
	.woocommerce #content table.cart td.actions .coupon .button,
	.woocommerce-page table.cart td.actions .coupon .button,
	.woocommerce-page #content table.cart td.actions .coupon .button {
		float: right;
		width: 48%;
	}
	
	.woocommerce .cart .actions .button,
	.woocommerce .cart .actions input.button,
	.woocommerce-page .cart .actions .button,
	.woocommerce-page .cart .actions input.button {
		display: block;
		float: none;
		width: 100%;
	}
	
	.woocommerce-page table.cart td.actions .checkout-button.button.alt,
	.woocommerce-page #content table.cart td.actions .checkout-button.button.alt {
		margin-left: 0;
	}
	
	/* Cart Page */
	
	body.page-template-default.woocommerce-cart .pagecontainer,
	body.page-template-default.woocommerce-checkout	{
		padding: 5px;
	}
	
	.woocommerce a.returnshop.button {
		display: block;
		font-size: 100% !important;
		text-align: center;
	}
	
	.woocommerce .cart-collaterals .cart_totals,
	.woocommerce-page .cart-collaterals .cart_totals {
		width: 100%;
	}
	
	.woocommerce .cart-collaterals .shipping_calculator,
	.woocommerce-page .cart-collaterals .shipping_calculator {
		width: 100%;
	}
	
	/* Checkout Page */
	
	.woocommerce form.checkout_coupon {
		padding: 10px 12px 5px;
	}
	
	.woocommerce form.checkout_coupon .form-row-first,
	.woocommerce form.checkout_coupon .form-row-last {
		display: block;
		float: none;
		width: 100%;
	}
	
	.woocommerce form.checkout_coupon .form-row-last .button {
		width: 100%;
	}
	
	/* Shop Page */
	
	.pagecontainer > ul.products {
		width: 320px;
		margin: 0 auto;
		right: -2px;
	}

	/* Shop homepage */
	
	.tile-wrapper .portfoliocontainer.mobile .portfolio-item {
		height: 275px;
	}
}

/* ================================================  IPADS AT LANDSCAPE WIDTH 1024  ======================================= */


@media only screen 
and (min-width : 961px) 
and (max-width : 1024px) 
{	



	/* Home */

	/*	#background, #misdground {
			background-position: 0 0 !important;
		}
		
		#foreground {
			background-position: -150% 0 !important;
		}
	*/

	.littlehenry {
		left: 25%;
		background-size: 60%;
		bottom: 0;
	}

	/* Page - Why We Fail */

	.whyfail .earthscribble {
		width: 150px;
	}


		
}



/* ================================================  RESPONSIVE SOCIAL NAV BUTTONS ======================================= */



@media only screen 
and (max-width : 550px) 
{	



	/* Page - Kerouac */

	#kerouac .social-share-like {
		left: 33%;
	}



}

/* ================================================  MOBILES upto 480 ======================================= */



@media only screen 
and (max-width : 480px) 
{



	/* Header */

	.woocommerce-page .innerwrapper {
		padding-top: 3px;
	}

	.woocommerce-page .pages .contentarena {
		left: 0;
		margin: auto;
		position: relative;
		width: 150px;
	}

	.woocommerce-page .logowelcome h1 {
		font-size: 80px;
	}

	.woocommerce-page .logowelcome h2 {
		font-size: 62px;
		margin-top: -24px;
	}

	.woocommerce-page .edition:before {
		width: 20%;
	}

	.woocommerce-page .edition:after {
		width: 20%;
	}
	
	/* Nav */
	
	.bottomnavmob a {
		padding: 12px 0;
	}
	
	/* General */
	.wrapper {
		overflow: auto;
		height: 100%
	}

	.subbox {
		width: 300px;
	}

	.drops {
		top: 31px;
	}

	

	/* Page - Artsy Collection */

	.collectionwelcome:before, .collectionwelcome {
		background-image: none;
	}

	.collectionwelcome .contentarena {
		left: 0;
		right: 0;
		top: 12%;
		margin-left: auto;
	}

	.collectionwelcome .logowelcome {
		margin: 0 auto;
		width: 90px;
	}

	.collectionwelcome h2 {
		margin: 25px 0 10px;
	}

	.collectionwelcome .logowelcome h1 {
		font-size: 60px;
	}

	.collectionwelcome .logowelcome h2 {
		font-size: 47px;
		margin-top: -14px;
	}

	.collectionwelcome .edition {
		font-size: 8px;
		margin-top: -12px;
		line-height: 2.8;
	}

	#collection .collectionwelcome {
		padding: 60px 0 0;
	}

	.collectionwelcome .sw {
		width: 25%;
	}

	.artmaker {
		font-size: 36px;
	}

	.onepage-pagination {
		top: auto;
		bottom: 5%;
	}

	#collection.viewing-page-1 section .social-share-like {
		left: 20%;
		top: 50px;
	}
	
	/* Page - Kerouac */

	#kerouac .social-share-like {
		left: 22%;
	}
	
	/* Shop Page */
	
	.tile-gallery .portfoliocontainer.two .portfolio-item,
	.tile-gallery .portfoliocontainer.three .portfolio-item {
		height: 262px;
	}
}

@media only screen
and (max-width : 479px) {

	/* Homepage */
	
	.contentarena {
		left: auto;
		top: 45px;
		width: auto;
		margin: 30px 30px 0;
	}
	
	.logowelcome {
		padding: 0;
	}
	
	.linkers {
		width: auto
	}
	
	#home.front-page .stage {
		min-height: 0;
	}
	
	body.misfit-commerce .pagecontainer,
	body.page-template-default.woocommerce-checkout	.pagecontainer {
		padding: 10px 10px 50px;
		width: auto;
		margin: 50px 10px;
	}
	
	
	/* Cart */
	
	.woocommerce table.shop_table th, .woocommerce-page table.shop_table th {
		font-size: 13px;
		padding: 9px 7px;
		font-weight: normal;
	}
	
	.woocommerce-cart.woocommerce-page .quantity,
	.woocommerce-cart.woocommerce-page #content .quantity {
		margin-left: 8px;
		width: 45px;
	}
	
	.woocommerce-cart.woocommerce-page .quantity .plus,
	.woocommerce-cart.woocommerce-page .quantity .minus,
	.woocommerce-cart.woocommerce-page #content .quantity .plus,
	.woocommerce-cart.woocommerce-page #content .quantity .minus {
		width: 100%;
		float: none;
		height: 30px;
		font-size: 20px;
	}
	
	.woocommerce-cart.woocommerce-page .quantity input.qty,
	.woocommerce-cart.woocommerce-page #content .quantity input.qty {
		width: 100%;
		text-align: center;
	}
	
	/* Shop Page */
	
	ul.products {
		width: 260px;
		margin: 0 auto;
	}
	
	.tile-wrapper .smallview i {
		width: 35px;
	}
	
	.tile-wrapper .portfolio-item .smallview a {
		width: 36px;
	}
	
	/* 404 */
	
	#the-dragon-ate-our-page .stage {
		padding-bottom: 0;
	}
	
	#the-dragon-ate-our-page .pagecontainer {
		width: 230px;
		padding: 50px 20px 50px;
	}
	
	#the-dragon-ate-our-page .dragon {
		height: 210px;
	}
	
	#the-dragon-ate-our-page .pagecontainer p {
		padding: 0;
	}
}



/* ================================================  MOBILES BELOW 480 to 400 ======================================= */


@media only screen 
and (min-width : 400px) 
and (max-width : 480px) 
{	
	
	.floatinglogo img {
		width: 100%;
	}
	
	.floatinglogo {
		left: 40px;
		top: 65px;
	}
	
	.floatingtext {
		left: 20px;
		margin: auto;
		padding-left: 0;
		position: absolute;
		top: 200px;
		width: 80%;
	}

	.bottomnav {
		display: none;
	}

}



/* ================================================  MOBILES BELOW 399 ======================================= */


@media only screen 
and (max-width : 399px) 
{	
	
	
	
	/* Navigation */

	.social-button, .subscribe.purchase, .subbox {
		display: none;
	}

	.floatinglogo img {
		width: 100%;
	}
	
	.floatinglogo {
		left: 40px;
		top: 65px;
	}
	
	.floatingtext {
		left: 70px;
		margin: auto;
		padding-left: 0;
		position: absolute;
		top: 200px;
		width: 80%;
	}

	.bottomnav {
		display: none;
	}

	#collection.viewing-page-1 section .social-share-like, #collection.viewing-page-6 section .social-share-like {
		left: 43px;
		margin: 0 auto;
		position: absolute;
		right: 0;
		width: 300px;
	}

	.collectionwelcome h2 {
		font-size: 25px;
		/*margin: 10px 0;*/
		line-height: 1.2;
	}

	.collectionwelcome p {
		font-size: 12px;
		line-height: 1.4;
		padding-bottom: 10px;
	}



	/* Cart */

	.woocommerce-cart .pagecontainer, .woocommerce-checkout .pagecontainer {
		padding: 30px 10px 50px;
		width: 87%;
	}

	.woocommerce table.shop_table td, .woocommerce-page table.shop_table td {
		padding: 6px 0;
	}

	/*.misfit-commerce.commerce .pagecontainer a {
		font-size: 12px;
		line-height: 1;
	}*/

	.button[type="submit"] {
		/*float: left !important;*/
	}

	.woocommerce table.cart td.actions, .woocommerce #content table.cart td.actions, .woocommerce-page table.cart td.actions, .woocommerce-page #content table.cart td.actions {
		padding: 10px 10px 6px;
	}
}
/* ================================================  MOBILES BELOW 320 ======================================= */

@media only screen 
and (max-width : 320px) 
{	
	html {
		min-width: 320px;
	}
}


/* ================================================  HEIGHT less than or equal to 968 ======================================= */

@media only screen 
and (min-height : 968px) 
{
	/* 404 */
	
	#the-dragon-ate-our-page .wrapper {
		height: 100%;
	}
	
	#the-dragon-ate-our-page .innerwrapper {
		padding: 0;
		height: 100%;
	}
	
	#the-dragon-ate-our-page .stage {
		padding: 0;
	}
	
	#the-dragon-ate-our-page .pagecontainer {
		top: 100px;
	}
}

@media only screen 
and (min-height : 768px) 
{
	/* My account */
	
	#home.woocommerce-account .wrapper {
		height: 100%;
	}
	
	#home.woocommerce-account .innerwrapper {
		padding: 0;
		height: 100%;
	}
	
	#home.woocommerce-account .stage {
		padding: 0;
	}
	
	#home.woocommerce-account .pagecontainer {
		top: 100px;
	}
	
	#home.woocommerce-account .woocommerce .col2-set {
		margin-top: 0;
	}
	
	/* My account - logged in */
	
		
	#home.woocommerce-account.logged-in .wrapper {
		height: auto;
	}
	
	#home.woocommerce-account.logged-in .stage {
		padding: 80px 0 50px;
	}
	
	#home.woocommerce-account.logged-in .pagecontainer {
		top: auto;
	}
	
	/* Lost Password */
	
	#home.woocommerce-account.page-id-42 .wrapper {
		height: 100%;
	}
	
	#home.woocommerce-account.page-id-42 .stage {
		padding: 0;
	}
	
	#home.woocommerce-account.page-id-42 .pagecontainer {
		top: 100px;
	}
	
	
	/* Shop Page */
	
	.tile-wrapper .smallview i {
		width: 35px;
	}
	
	.tile-wrapper .portfolio-item .smallview a {
		width: 36px;
	}
}

/* ================================================  MOBILES with HEIGHT less than or equal to 320 ======================================= */

@media only screen 
and (max-height : 320px) 
{
	/* Navigation */

	.drops li a {
		padding: 10px 0;
	}
	
	/* Page - Artsy Collection */

	#collection .collectionwelcome {
		padding: 40px 0 0;
	}

	.collectionwelcome .contentarena {
		width: 90%;
	}

	.collectionwelcome .edition {
		font-size: 8px;
		margin-top: -15px;
	}

	#collection .linkers > li {
		float: left;
		width: 50%;
	}

	#collection .linkers a {
		font-size: 14px;
	}

	#collection .linkers li span {
		font-size: 10px;
	}

	.collectionwelcome h2 {
		font-size: 25px;
		/*margin: 10px 0;*/
		line-height: 1.2;
	}

	.collectionwelcome h4 {
		margin: -10px 0 30px;
	}

	.collectionwelcome p {
		font-size: 12px;
		line-height: 1.4;
		padding-bottom: 10px;
	}

	#collection .collectionwelcome .sw {
		width: 17%;
	}

	.collectionwelcome h4 {
		font-size: 15px;
		line-height: 19px;
		margin: -10px 0 30px;
	}

	.artmaker {
		top: 70%;
	}
}